body {
    font-family: Arial, sans-serif;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(198, 187, 186);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(249, 8, 8, 0.1);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #cae30e;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #ff7300;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #f57702;
}

a {
    display: block;
    margin-top: 15px;
    text-align: center;
}